body {
      margin: 0;
      display: block;
      justify-content: center;
      align-items: center;
      text-align: left;
      background-color: #000000;
      
      
}
h1 {
      color: #2B283A;
      font-size: 40px;
      margin-bottom: -5px;
      
}

.password {
      color: #10B981;
      font-size: 43px;
}

.container {
      margin-top: 80px;
      margin-left: 100px;
      margin-right: 50px;
      background-color: #ECFDF5 ;
      border: 5px solid #FFFFFF;
      border-radius: 5px;
      height: 550px;
      padding: 40px;
      
}

.p-text {
      color: #6B7280;
      font-size: 21px;
      
}

.button {
      border: 1px solid #10B981;
      border-radius: 5px;
      background: #10B981;
      box-shadow: 1px 1px  3px #10B981;
      margin-top: 20px;
      font-size: 18px;
      padding: 13px;
      color: #FFFFFF;
      
}

.button:hover {
      background-color: #0e9e6e;
      cursor: pointer;
}

.button:active {
      background-color: #10B981;
}

.btn {
      margin-bottom: 40px;
}

.utput {
      margin-top: 25px;
      text-align: left;
}

.utput-el {
      background-color: #273549;
      border: 0px solid #273549;
      border-radius: 6px;
      color: #5DEF92;
      text-align: center;
      padding: 15px;
      margin: 5px;
      margin-right: 13px;
      font-family:sans-serif;
      letter-spacing: 1px;
      font-size:large;
}