body {
  margin: 0 auto;
  padding: 0;
  text-align: left;
  background-color: #1a1919;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #5def92;
  font-size: 40px;
  text-transform: uppercase;
}

span {
  text-transform: lowercase;
}

.password {
  color: #f2f2f6;
  font-size: 43px;
}

.container {
  min-width: 100px;
  padding: 55px;
}

.p-text {
  color: #54de86;
  letter-spacing: 1px;
  font-size: 21px;
}

.button {
  border: 0px solid #54de86;
  border-radius: 5px;
  background: #138d64;
  box-shadow: 1px 1px 3px #012703;
  margin-top: 20px;
  font-size: large;
  padding: 19px;
  color: #e7e9f1;
  text-transform: uppercase;
}

.button:hover {
  background-color: #029866;
  cursor: pointer;
}

.btn {
  margin-bottom: 40px;
}

.utput {
  margin-top: 25px;
  text-align: left;
}

.utput-el {
  background-color: #273549;
  border: 0px solid #273549;
  border-radius: 6px;
  color: #f0f1fd;
  padding: 19px;
  margin-right: 10px;
  font-size: large;
  text-align: center;
}
